<pre>
<h2>Service Data</h2>
PATID: <%=PATID%>
Episode Number: <%=EPISODE_NUMBER%>
Date Of Service: <%=date_of_group_service%>
Service Code: <%=SERVICE_CODE%>
Program: <%=program_value%>
Start Time: <%=start_time%>
End Time: <%=end_time%>
Entry User: <%=data_entry_by%>
Entry Time: <%=data_entry_time%>

<h3>Void Comments</h3>
<%=void_comments%>
</pre>