<pre>
<h2>Service Data</h2>
PATID: <%=ENTITYID%>
Episode Number: <%=EPISODE_NUMBER%>
Date Of Service: <%=date_of_service%>
Service Code: <%=service_charge_code%>
Program: <%=program_value%>
Location: <%=location_value%>
Duration: <%=service_duration%>
Start Time: <%=service_start_time%>
End Time: <%=service_end_time%>
Practitioner: (<%=practitioner_id%>) <%=practitioner_name%>
Note Type: <%=note_type_value%>
Entry Date: <%=data_entry_date%>
Entry Time: <%=data_entry_time%>

<h3>Append Comments</h3>
<%=new_comments_appended%>
</pre>